body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header,
.content,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}

.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

@media (min-width: 48em) {
    .container {
        max-width: 46rem;
    }
}

.jumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
}

.content {
    margin: 3rem 0;
}
.content p + h4 {
    margin-top: 1.5rem;
}

.alert {
    width: 100%;
}

.card {
    width: 100%;
}
